.hero {
  color: #312f2f;
  width: 90%;
  text-align: left;
  margin: 0 auto 2%;
}

.hero button {
  display: block;
  font-size: 1.2em;
  color: white;
  border: none;
  background-color: #239BD3;
  padding: 1%;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
}

.hero div {
  align-self: flex-start;
  text-align: center;
  font-size: 0.85em;
}

#mockup {
  display: none;
}

section {
  min-height: 200px;
  padding: 6% 0;
  flex-grow: 1;
  background-color: #239BD3;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1%;
  border-radius: 3%;
}

a {
  text-decoration: none;
  font-size: 1.25em;
  color: white;
}

#mockup {
  width: auto;
  height: 45vw;
  margin-top: 1%;
}

.stand-out {
  color: #f08a4b;
}

@media all and (min-width: 480px) {
  .hero div {
    font-size: 1em;
  }

  section {
    border-radius: 0;
  }
}

@media all and (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .hero div {
    font-size: 1.25em;
    align-self: center;
  }

  #mockup {
    display: inline-block;
    align-self: center;
  }
}

@media all and (min-width: 1200px) {
   .hero div {
    font-size: 1.5em;
  }
  #mockup {
    height: 35vw;
  }
}