.ContactPage{
     border-radius:0; 
    width:100%;
    padding: 1%;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #777;
    background-color: #a6d9f7;
}
.ContactPage a:hover{
    color: red;
}