#recipe-page{
    border-radius: 0;
    width: 100%;
    background-color: #a6d9f7;
    padding: 0;
}
.recipes-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    flex-wrap: wrap;
}
.recipes-list li{
    list-style: none;
    display: block;
    padding: 10px;
    margin:1%;
    background-color: blueviolet;
}
.recipes-list .header{
    display: flex;
    align-items: flex-start;
}
.recipes-list li h1{
    padding: 0;
    margin:0;
}
.recipes-list p {
    display: block;
}