.RegistrationForm{
       font-size: 1.25em;
     color: black;
    font-weight:normal;
}
.RegistrationForm div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.RegistrationForm input,button{
    width: 90%;
}
 .RegistrationForm button{
     background: #43A047;
    margin-top:2%;
    cursor: pointer;
    border: none;
    color: #FFF;
    padding: 10px;
}
@media all and (min-width: 480px) {
    .RegistrationForm{
         max-width: 600px;
         margin:0 auto;
         padding: 1%;
    }
.RegistrationForm div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .RegistrationForm input,button{
    width: 70%;
}
}
