.LoginForm{
    font-size: 1.25em;
     color: black;
    font-weight:normal;
}
.LoginForm div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.LoginForm input,button{
    width: 90%;
}
 .LoginForm button{
    background: #43A047;
    margin-top:2%;
    cursor: pointer;
    border: none;
    color: #FFF;
    padding: 10px;
}
.LoginForm p{
    color: black;
}
.LoginForm p.red{
      color: red;
  }
p.suggestion{
    font-size: 0.8em;
    margin-top:0px;
    padding-top:0px;
    line-height: 0px; 
    color: #ED577E;
}
@media all and (min-width: 480px) {
    .LoginForm{
         max-width: 600px;
         margin:0 auto;
         padding: 1%;
    }
.LoginForm div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .LoginForm input,button{
    width: 70%;
}
}
