.grocery-item {
    position: relative;
    width: 400px;
}

img {
    width: 10vh;
    height: auto;
    padding-right: 20px;
}

.item-info {
    position: absolute;
    top: 10px;
    display: inline-block;
}

.item-info h3 {
    margin: 0;
}

.item-info p {
    margin: 0;
    font-size: 14px;
}

.expiration {
    font-size: 14px;
    color: red;
    position: absolute;
    bottom: 10px;
}

.delete {
    color: red;
    position: absolute;
    right: 10px;
    top: 10px;
}

.add {
    color: green;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
}