.shoppingListPage {
    width: 100%;
}
.shoppingListPage h1{
    font-size: 1.5em;
}
.shoppingList {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    padding-left: 0;
    text-align: center;
    max-width: 600px;
    border-radius: 0;
}

.shoppingList ul {
    padding: 0;
    width: 90%;
    margin: 0 auto;
}

.shopping-item {
    width: 100%;
    list-style: none;
    font-size: 1.25em;
    line-height: 0;
    text-align: left;
    position: relative;
}

.status,
.item-name {
    display: inline-block;
}

.item-name h3,
p {
    display: inline-block;
}

.shoppingList input {
    width: 75%;
    font-size: 1.25em;
    margin: 0 10px 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #616161;
    opacity: 0.8;
    transition: opacity 400ms;
    margin-left: 0;
}

.status input {
    width: auto;
}

.shoppingList button {
    font-size: 1.25em;
    width: 20%;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #74ce3b;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.shoppingList span {
    display: none;
}

.remove {
    color: red;
    position: absolute;
    right: 10px;
    top: 10px;
}

.remove:hover {
    font-size: 1.5em;
}
p.red{
      color: red;
      margin: 0;
  }
@media all and (min-width: 480px) {
    .shoppingListPage h1{
        font-size: 1.75em;
    }
    .shoppingList input {
        width: 70%;
    }

    .shoppingList button {
        width: 25%;
    }

    .shoppingList span {
        display: inline;
    }
}