nav {
    padding: 2% 5%;
    height: 100%;
    background-color: #239BD3;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    
}
#logo {
    float: left;
    height: 3em;
    width: auto;
    padding-bottom: 10px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.menu a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
    font-size: 0.7em;
    font-weight: bold;
}
#main-nav{
    margin: 0;
}
#main-nav li{
    list-style: none;
    text-align: left;
}
#nav-toggle{
    border: 0;
    background-color: transparent;
    width: auto;
    color: white;
}
#nav-toggle:hover{
    color:#f08a4b;
}
#main-nav a:hover {
    color: #f08a4b;;
}
.hidden{
    display: none;
}

@media all and (min-width: 480px) {
    .menu a {
        font-size: 0.9em;
    }
}
@media all and (min-width: 720px) {
    #nav-toggle {
        display: none;
    }
    #main-nav {
        display: block;
    }
    nav{
        align-items: center;
    }
    .menu a {
        font-size: 1.1em;
    }
    #main-nav li {
        display: inline-block;
    }
}