.add-grocery-items-section{
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 30px;
  padding: 1%;
  border-radius: 0;
  background-color: #a6d9f7;
}
#add-groceries-form{
  text-align: left;
  max-width: 400px;
  background: #F9F9F9;
  padding: 25px;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#add-groceries-form input,select,textarea{
     width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 14px;
}
#add-groceries-form button {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
#add-groceries-form button:hover {
  background: #43A047;
}
#add-groceries-form label{
  display: block;
  font-size: 1.25em;
  font-weight: 400;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#add-groceries-form input#reminder{
    width: auto;
}
#add-groceries-form input#expiry-date{
    width: 100%;
}
#add-groceries-form #quantity{
  margin-right:1%;
}
#add-groceries-form #quantity,#unit{
  width: 49%;
}
label#reminder-label{
  display: inline;
}
.suggestion-list{
  margin: 0;
  padding: 0;
} 
.suggestion-list li{
  border-radius: 20px;
  padding: 2px 15px;
  margin-top: 5px;
  margin-right:5px;
  margin-bottom: 5px;
  display: inline-block;
  background: #00D0EA ;
  cursor: pointer;
}
@media all and (min-width: 480px) {
  
}