input,button {
  font-size:1.25em;
  border: 1px solid #999;
  padding: 0.5rem;
  margin-bottom:1%;
  width: 100%;
  max-width: calc(400px + 1rem);
}

.no-suggestions {
  color: red;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin: 0 auto;
  overflow-y: auto;
  padding-left: 0;
  width: 100%;
  max-width: calc(400px + 1rem);
}

.suggestions li {
  text-align: left;
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  cursor: pointer;
  background-color: #00c6ff;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
.selected-ingredients{
    display: block;
}
.selected-ingredients li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    background-color: #00c6ff;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.selected-ingredients li button{
  width:auto;
  height: auto;
  margin: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.8em;
}
.selected-ingredients li button:hover{
color: red;
}
.search-area{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.search-box{
  width: 100%;  
  max-width: calc(400px + 1rem);
}
.search-area button{
  margin-top:0;
  width: 100%;
    background: #4CAF50;
    color: white;
    cursor: pointer;
}
@media all and (min-width: 480px) {
  .search-area{
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

  }
  .search-area input{
    margin-right:1%;
  }
  .search-area button,input{
    margin-bottom:1%;
  }
}
