input,button {
  font-size:1.25em;
  border: 1px solid #999;
  padding: 0.5rem;
  margin-bottom:1%;
  width: 100%;
  max-width: calc(400px + 1rem);
}

.no-suggestions {
  color: red;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin: 0 auto;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  text-align: left;
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  cursor: pointer;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
.selected-ingredients{
    display: block;
}
.selected-ingredients li{
    list-style: none;
    display: inline-block;
    padding: 5px;
}
.search-area{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.search-box{
  width: 100%;  
  text-align: center;
}
.search-area button,input{
  margin-top:0;
}
@media all and (min-width: 480px) {
  .search-area{
    flex-direction: row;
  }
  .search-area input{
    margin-right:1%;
  }
  .search-area button,input{
  margin-bottom:1%;
}
}
