.GroceriesPage {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    height: 100%;
}

.GroceryList {
    text-align: left;
    padding: 0;
    border-radius: 0;

    background-color: #a6d9f7;
}

.GroceryList li {
    list-style: none;
    display: inline-block;
    background-color: #f4f8fa;
    margin: 1%;
    padding: 10px;
    height: 135px;
    overflow: hidden;
}

.GroceryList li:nth-child(even) {
    background-color: #ddd;
}

.options a {
    text-decoration: none;
    font-size: 1.25em;
    color: black;
    padding: 1%;
}

.options a:hover {
    color: white;
}

#error_alert {
    text-align: center;
}

@media all and (max-width: 480px) {
    .GroceryList ul {
        padding: 0;
        margin: 0px;
    }

    .GroceryList li img {
        display: none;
    }
}