.GroceriesPage {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    height: 100%;
}

.GroceryList {
    text-align: left;
    padding: 0;
}

.GroceryList li {
    list-style: none;
    display: inline-block;
    background-color: #f4f8fa;
    margin: 1%;
    padding: 10px;
    height: 135px;
    overflow: hidden;
}

.GroceryList li:nth-child(even) {
    background-color: #ddd;
}