.GroceriesPage {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    height: 100%;
    ;
}


.GroceryList li {
    list-style: none;
    width: 30vw;
    height: 10vh;
    display: inline-block;
}

.GroceryList li:nth-child(even) {
    background-color: #ddd;
}